* {
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  background-color: goldenrod;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}   

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 70px;
  margin-bottom: 15%;
  }

footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: goldenrod;
  justify-content: center;
  font-size: smaller;
   }

 footer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.bookmark-picture-footer {
  height: 3em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
  border: 1px solid;
  border-color: lightgrey;
  padding: 3% 10%;
  border-radius: 4px;
  background-color: whitesmoke;
  font-size: smaller;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin: 6px;
  padding: 1px 6px 1px 3px;
  border: none;
  color: white;
  background-color: orange;
        }

      button {
        color: white;
        background-color: orangered;
        border: none;
      }

      .bookmark-picture-within-card {
        height: 2rem;
        position: absolute;
        top: 107px;
        right: 70px;
          }

    .bookmark {
      all: unset;
    }
  
  
   
   




