* {    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: aqua;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    position: fixed;
    top: 0px;

    }    

    body {
        display: flex;
        flex-direction: column;
        margin: 90px 0 45px 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 10%;
        border: 1px solid;
        padding: 3% 10%;
        border-radius: 4px;
        background-color: lightcyan;
        
      }

      ul {
        display: flex;
      }

      li {
        list-style: none;
        margin: 2px;
        padding: 1px 3px 1px 3px;
        border: 1px solid;
        border-radius: 1px;
        background-color: whitesmoke;
      }

    footer {
        display: flex;
        background-color: aqua;
        border: 1px solid;
        justify-content: center;
        border-radius: 4px;
        flex-direction: row;   
    }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid;
    padding: 0.6rem;
    background-color: aqua
  }

  footer nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .bookmark-picture-within-card {
    height: 2rem;
    position: absolute;
    top: 107px;
    right: 60px;
  }

  .bookmark {
    all: unset;
  }
  
  
  .bookmark-picture-within-footer {
    height: 4em;
  }

   




